
.loginbox{ 
    @include flex(column, center, center, wrap);
    height: 70vh;
    //@include me(violet);
    
    form{
        width: 80%;
        max-width: 350px;
    }
    
    .row-fields{
        @include flex(row, flex-start, baseline, initial );
    }
}
