@import 'grid';
@import 'mixins';
@import 'login';

.container {
  margin: o auto;
  max-width: 100%; 
  width: 100%;    
}
.flex{
    display: flex;
    &.column{
        flex-direction: column;
    }
    &.wrap{
        flex-wrap: wrap;
    }
    &.row{
        flex-direction: row;
    }
    &.toCenter{
        justify-content: center;
        align-items: center;
    }
}

.field-line {
  padding: 16px;
}

.container-search {
  margin: 50px auto;

  text-align: center;
}
